@require '../../colors.styl'

.Header
  display: flex
  align-items: center
  height: 60px
  color: white
  background-color: $purple
  box-shadow: 0 2px 4px rgba(0,0,0,.25)

.Header-title
  flex: 1
  padding: 20px
  line-height: 20px
  font-size: 18px
  font-weight: 300

.Header-note
  flex: 0 200px
  font-size: 12px

