@require '../btn'

.MessageForm
  position: relative
  width: 100%
  margin-bottom: 0

.MessageForm-input
  width: 100%
  padding: 20px
  outline: 0
  border: 0
  border-top: 1px solid #eee

.MessageForm-btn
  @extend .btn, .btn--action, .btn--purple
  position: absolute
  bottom: 50%
  right: 16px

  font-weight: 300

